.button {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
