.console {
    margin: .5rem 0;

    &__header {
        border-bottom: 2px solid lightgrey;
        padding-bottom: .5rem;

        & span {
            cursor: pointer;
        }
    
    }

    &__body {
        margin: .5rem 0;
        
        & .message {
            display: list-item;
            list-style-position: inside;
        }
    }

}