$modal-content-width: 640px;

.modal {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    margin: 0 auto;
    width: 640px;
    position: relative;

    &__container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        background-color: rgba(10,10,10,.86);

        &.is-active {
            display: flex;
        }
    }

    &__header,
    &__footer,
    &__body {
        align-items: center;
        background-color: #f5f5f5;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-start;
        padding: 20px;
        position: relative;
    }

    &__header {
        border-bottom: 1px solid #b7b7b7;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        justify-content: space-between;

        &-title {
            font-size: var(--fs-400);
            font-weight: 500;
        }

    }

    &__footer {
        border-top: 1px solid #b7b7b7;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        justify-content: flex-end;
        gap: 10px;

        & button {
            padding: 8px 1em;
        }
    }

    &.no-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &-page {
        display: none;
        flex-direction: column;

        &.is-active {
            display: flex;
        }
    }

    &__item {
        cursor: pointer;
    }

}

.kbd {
    &-help {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &-section {
        display: flex;
        flex-direction: column;
    }

    &-section-label {
        text-align: center;
        text-transform: uppercase;
        margin: 0.25rem 0;

        font-size: 14px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: hsl(0, 0%, 48%);
    }

    &-keybind {
        display: flex;
        align-items: center;
    }

    &-combo {
        width: 50%;
        
        kbd {
            &:not(:last-of-type):after {
                content: ' + ';
            }
        }
    }

    &-description {
        width: 50%;
    }
}

button.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;

    &::before,
    &::after {
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
        color: black;
    }

    &::before {
        height: 2px;
        width: 50%;
    }

    &::after {
        height: 50%;
        width: 2px;
    }

}
