.tabs {
    display: flex;
    align-items: stretch;
    white-space: nowrap;
    margin: 1rem 0;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tab {
    cursor: pointer;

    &.is-active {
        cursor: default;
        border-bottom: 1px solid gray;
    }

    & + & {
        margin-left: .5rem;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
