.table {
    width: 100%;
    display: table;
    margin: 0 5px;

    &-label {
        display: flex;
        justify-content: center;
        margin: .5rem 0;
    }
}

.res-row {
    display: table-row;
}

.res-cell {
    display: table-cell;
}

.table-label {
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 0.1em;
}