.columns {
    display: flex;
}

#left-column {
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 1.2rem;

    overflow-x: hidden;
    overflow-y: auto;
}

#middle-column {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

